/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/a.exe
/.idea/.gitignore
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/a.exe
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-2f9350a9a285b87bf82d.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f5814ddce33f0e9f5ad6.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a685dae83bac625531ae.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-07-25T16-09-26-0710.json
/.idea/lab_ShoppingList1.iml
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-lab_ShoppingList1-Debug-804684aeb5566c35b7de.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-dec7ab1f140f17bdaa78.json
/.idea/vcs.xml
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8a350756df06392ca232.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-07-25T17-25-44-0761.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab_ShoppingList1-Debug-eca28a856ad75027e2e5.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c2eb84e4b0d31272282f.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-07-25T19-42-41-0297.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab_ShoppingList1-Debug-402999f59e7bcb722c50.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-88b564c2003268d17199.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-07-25T19-56-55-0098.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab_ShoppingList1-Debug-5cf54ef104768ef82c62.json
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/lab_ShoppingList1.exe
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/ListNumberObserver.cpp.obj
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/Object.cpp.obj
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/ShoppingList.cpp.obj
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/ShoppingListManager.cpp.obj
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/ShoppingListObserver.cpp.obj
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/UserView.cpp.obj
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/a.out
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3e16650f8fe908e91db6.json
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-746dc72812b860bf5eb9.json
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f7d347c7894bd5893a14.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-08-16T15-08-53-0232.json
/cmake-build-debug/lab_ShoppingList1
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/ListNumberObserver.cpp.o
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/Object.cpp.o
/.idea/inspectionProfiles/Project_Default.xml
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/ShoppingList.cpp.o
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/ShoppingListManager.cpp.o
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/ShoppingListObserver.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-lab_ShoppingList1-Debug-78112c7e1579ab837b87.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ffb6434f9d66dd28afdb.json
/cmake-build-debug/CMakeFiles/lab_ShoppingList1.dir/UserView.cpp.o
/cmake-build-release/CMakeFiles/3.25.2/CompilerIdC/a.exe
/cmake-build-release/CMakeFiles/3.25.2/CompilerIdCXX/a.exe
/cmake-build-release/build.ninja
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/reply/cache-v2-36dab231c6fbfd2a0bc4.json
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-d9edaee971f1df7a4212.json
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-debug/test/lib/googletest/cmake_install.cmake
/cmake-build-debug/test/cmake_install.cmake
/cmake-build-release/test/lib/googletest/cmake_install.cmake
/cmake-build-release/test/cmake_install.cmake
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-8b941c9124c38540dc74.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e815b0fca4379f184edf.json
/cmake-build-release/CMakeFiles/CMakeOutput.log
/cmake-build-release/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-release/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-553f835f0d79aec41369.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ebeba7666f8c95f2df34.json
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-test.lib.googletest-Debug-fe569e11e6931c62b9cd.json
/cmake-build-release/.cmake/api/v1/reply/directory-test.lib.googletest-Release-fe569e11e6931c62b9cd.json
/cmake-build-debug/.cmake/api/v1/reply/directory-test-Debug-f18be1977b403cfd1a50.json
/cmake-build-release/.cmake/api/v1/reply/directory-test-Release-f18be1977b403cfd1a50.json
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.obj
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.obj
/cmake-build-release/.cmake/api/v1/reply/index-2023-08-19T17-19-10-0474.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-08-19T17-19-10-0495.json
/cmake-build-debug/libcore.a
/cmake-build-debug/test/lib/googletest/libgtest_maind.a
/cmake-build-debug/test/lib/googletest/libgtestd.a
/cmake-build-debug/CMakeFiles/core.dir/ListNumberObserver.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/Object.cpp.obj
/cmake-build-debug/test/CMakeFiles/runAllTests.dir/ObjectFixture.cpp.obj
/cmake-build-debug/test/CMakeFiles/runAllTests.dir/ObjectTest.cpp.obj
/cmake-build-release/CMakeFiles/rules.ninja
/cmake-build-debug/test/CMakeFiles/runAllTests.dir/runAllTest.cpp.obj
/cmake-build-debug/test/runAllTests.exe
/cmake-build-debug/CMakeFiles/core.dir/ShoppingList.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/ShoppingListManager.cpp.obj
/cmake-build-debug/test/CMakeFiles/runAllTests.dir/ShoppingListmanagerFixture.cpp.obj
/cmake-build-debug/test/CMakeFiles/runAllTests.dir/ShoppingListManagerTest.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/ShoppingListObserver.cpp.obj
/cmake-build-debug/test/CMakeFiles/runAllTests.dir/ShoppingListTest.cpp.obj
/cmake-build-debug/test/CMakeFiles/runAllTests.dir/ShppingListFixture.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/target-core-Debug-1e88e658c610111f736b.json
/cmake-build-release/.cmake/api/v1/reply/target-core-Release-c4ade93278a3935a1830.json
/cmake-build-debug/.cmake/api/v1/reply/target-gtest-Debug-503ecdb1a179488a16e0.json
/cmake-build-release/.cmake/api/v1/reply/target-gtest-Release-ad93d185329a0f1d4b9a.json
/cmake-build-debug/.cmake/api/v1/reply/target-gtest_main-Debug-c36138daa96d32156b23.json
/cmake-build-release/.cmake/api/v1/reply/target-gtest_main-Release-e0bdddfc56f68efe3cfb.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab_ShoppingList1-Debug-6c33c9f2777fedd8ef0d.json
/cmake-build-release/.cmake/api/v1/reply/target-lab_ShoppingList1-Release-2a23dcf24ff67d2292ca.json
/cmake-build-debug/.cmake/api/v1/reply/target-runAllTests-Debug-553821806731f803f9a4.json
/cmake-build-release/.cmake/api/v1/reply/target-runAllTests-Release-5d4a50a9478271d1e0da.json
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-dec7ab1f140f17bdaa78.json
/cmake-build-debug/CMakeFiles/core.dir/UserView.cpp.obj
